<h1>Environment Variable Workshop</h1>

<h2>Why do we care about ENV variables?</h2>

<p>Sometimes, we will need to use sensitive and/or dynamic information in our code.</p>
<p>When we say 'sensitive', we mean values that should not be exposed to the public or to users.</p>
<p>When we say 'dynamic', we mean that a value could change depending upon the context.</p>

<h2>Variables are a great way to solve both of these problems.</h2>

<p><strong>Environment Variables</strong> are variables stored across an entire project's environment.</p>

<p>We will be using the <%= link_to 'figaro gem', 'https://github.com/laserlemon/figaro' %> to manage our ENV vars in Mod 3.</p>

<p>For this exercise, complete the installation instructions in the Figaro documentation (You do not need to read past the first configuration file example).</p>

<p>After Figaro is installed, take a look at your .gitignore file. Do you notice any changes?</p>

<p> Next, add a key called 'example' to your application.yml file. The value can be any string.</p>

<p>Then, click <%= link_to 'here', demo_path %>! If you've set everything up correctly, you should see the value of your ENV var displayed.</p>

<h2>What now?</h2>

<p>Once you have your ENV var working, try changing the value and reloading the page.</p>

<p>Before our next class, write down at least one reason that you might use an environment variable.</p>
